@font-face {
  font-family: "main_font";
  src: url(../public/assets/fonts/Vazirmatn-Regular.ttf);
}

@font-face {
  font-family: "main_font_2";
  src: url(../public/assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "H1_font";
  src: url(../public/assets/fonts/Changa-SemiBold.ttf);
}

* {
  font-family: "main_font";
}

h1,
h2,
h3 {
  font-family: "H1_font";
  font-weight: bolder;
}


.navbar_1 {
  width: 100%;
  height: 6vh;
  background-color: #242B31;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.main_navbar {
  position: fixed;
  padding-top: 2rem;
  z-index: 100;
  width: 100%;
}

.brand_logo {
  color: #c54109;
  cursor: pointer;
}

.brand_logo a {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-family: "main_font_2";
  color: #c54109;
}

.brand_logo img {
  width: 60px;
  background-color: hsl(18, 91%, 40%);
}

.navbar_2 {
  background-color: #0D0E0E;
  border-radius: 0 0 20px 20px;
}

@media screen and (max-width: 400px) {
  .navbar_1 a {
    font-size: 80%;
    margin-top: 3px;
  }
}

.main_color {
  color: #c54109;
}

.main_color_bg {
  background-color: #c54109;
}

.a_tag {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

/* =================================Custom Scrollbars============================ */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D05520;
  border-radius: 15px;
}

/* ======================================= Home ================================================= */

.home {
  background-image: linear-gradient(113deg, rgba(1, 1, 1, 1) 15%, rgba(0, 0, 0, 0.9) 50%, rgba(255, 255, 255, 0.05) 100%), url(../public/assets/images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  border-bottom: 10px solid #c54109;
}

.home .main {
  height: 110vh;
  text-shadow: 5px 5px 5px black;
}

.home .main h1 {
  font-size: 5rem;
}

.main_icon {
  margin-top: 35vh;
}

@media screen and (max-width: 800px) {
  .home .main {
    flex-direction: column;
  }

  .main_icon {
    position: absolute;
    margin-top: 75vh;
  }

  .home .main h2 {
    margin-top: 25vh;
  }

  .home .main h1 {
    font-size: 3rem;
  }
}

/* ======================================= Home-Category ================================================= */

.home_category {
  height: 200px;
  width: 100%;
  background-color: #F8F8F8;
  border-bottom: 10px solid #d4531b;
}

.category_icone {
  width: 15%;
}

.category_icone img {
  background-color: #C4C4C4;
  border: 5px solid #9B9A9A;
}

@media screen and (max-width: 600px) {
  .category_icone {
    width: 50%;
  }

  .home_category_child {
    margin-top: 120%;
  }

  .home_category {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .category_icone {
    width: 20%;
  }

  .home_category_child {
    margin-top: 20%;
  }

  .home_category {
    overflow-y: scroll;
  }
}

/* ======================================= carousel ================================================= */

.multi_carousel {
  background-color: #E4E4E4;
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #d4531b;
  z-index: 0;
}

.equipped_gym_car {
  height: 3rem;
  overflow: hidden;
}

.carousel_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel_items img {
  border: 5px solid #625858;
  box-shadow: 5px 5px 10px black;
  background-color: #b1b1b1;
  height: 55vh;
}

.carousel_content {
  height: 1.2rem;
  overflow: hidden;
}

/* ======================================= first-carousel ================================================= */

.about_us {
  width: 100%;
  height: 100%;
  background-color: #A0A0A0;
  border-bottom: 10px solid #d4531b;
}

.about_us img {
  border: 5px solid #FFFFFF;
  box-shadow: 5px 5px 10px;
}

/* ======================================= articles ================================================= */

.article {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  border-bottom: 10px solid #d4531b;
}

.article_border .card-img-overlay {
  background-color: hsl(180, 4%, 5%, 0.4);
  border: 5px solid #EE7505;
}

.article_border img {
  box-shadow: 5px 5px 10px black;
}

.card-img-overlay {
  text-shadow: 5px 5px 5px black;
}

@media screen and (max-width: 400px) {
  .card-img-overlay {
    font-size: 60%;
  }
}

/* ======================================= services_home ================================================= */

.services_home {
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #d4531b;
}

/* ======================================= footer ================================================= */

.footer {
  width: 100%;
  height: 100%;
  background: rgb(110, 110, 110);
  background: linear-gradient(90deg, rgba(110, 110, 110, 1) 0%, 
  rgba(155, 154, 154, 1) 100%);
  border-bottom: 10px solid #F8F8F8;
  border-top: 10px solid #F8F8F8;
  border-radius: 50px 50px 0 0;
}

.footer a {
  z-index: 100;
}

.footer_shadow {
  text-shadow: 2px 2px 2px black;
}

/* ======================================================= Products-page =========================================== */
.product_landing_page {
  background-image: linear-gradient(113deg, rgba(1, 1, 1, 1) 5%, rgba(0, 0, 0, 0.9) 10%, rgba(255, 255, 255, 0.05) 100%),
    url(../public/assets/images/products.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  position: relative;
  top: 0;
  border-bottom: 10px solid #c54109;
}

.main_products {
  height: 70vh;
  text-shadow: 5px 5px 5px black;
}

.main_products h1 {
  font-size: 4rem;
}

.main_icon_products {
  margin-top: 24vh;
}

.equipped_gym {
  padding-top: 10rem;
  text-align: end;
}

.equipped_gym img {
  border: 5px solid #D05520;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media screen and (max-width: 700px) {
  .main_products {
    flex-direction: column;
  }

  .main_icon_products {
    position: absolute;
    margin-top: 48vh;
  }

  .main_products h2 {
    margin-top: 20vh;
    font-size: 80%;
  }

  .main_products h1 {
    font-size: 2rem;
  }

  .equipped_gym {
    text-align: center;
  }
}

/* ======================================================= gym-Designed =========================================== */

.gym_design {
  width: 100%;
  height: 100%;
}


.product_carousel img {
  width: 100%;
  height: 60vh;
  border-radius: 40px;
  border: 10px solid #a75000;
}

.text_shadow_products {
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-width:500px) {
  .gym_design h3 {
    font-size: 80%;
    text-align: center;
  }
}

/* ======================================================= Products =========================================== */

.products_section {
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #c54109;
}

.products_section input {
  border: 2px solid #c54109;
}

.more_view_products {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}

.products {
  width: 70%;
}

.main_products_div {
  width: 20%;
}

.products_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.card_pro {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card_description {
  height: 6rem;
  overflow: hidden;
}

.product_title_card {
  height: 2rem;
  font-size: 18px;
  overflow: hidden;
}

@media screen and (max-width:800px) {
  .main_products_div {
    flex-direction: column;
    width: 100%;
  }

  .main_product_column {
    flex-direction: column;
    align-items: center;
  }

  .more_view_products {
    width: 100%;
  }

  .products {
    width: 100%;
  }

  .products_card {
    width: 100%;
  }
}

/* ======================================================= Single-Product =========================================== */

.breadcrumb {
  width: 100%;
  height: 100%;
}

.breadcrumb nav {
  margin-top: 10%;
  border-top: 5px solid #555555;
}

.singleProduct {
  border-bottom: 10px solid #c54109;
}

.product_detail {
  text-align: end;
}

.order_color_1 {
  background-color: #D05520;
}

.order_color_2 {
  background-color: #D74671;
}

.main_img_product {
  border-top: 5px solid #555555;
  border-bottom: 5px solid #555555;
  border-radius: 0 30px 0 30px;
}

.side_view_img {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 15vh;
}

.singleProduct_container {
  border-bottom: 5px solid #555555;
}

.color_font {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media screen and (max-width:800px) {
  .breadcrumb nav {
    margin-top: 35%;
  }

  .product_detail {
    text-align: center;
  }

  .side_view_img {
    height: 10vh;
  }

  .color_font {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ======================================================= About-Us =========================================== */

.about {
  background-image: linear-gradient(113deg, rgba(1, 1, 1, 1) 10%, rgba(0, 0, 0, 0.9) 20%,
      rgba(255, 255, 255, 0.05) 100%), url(../public/assets/images/about-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  border-bottom: 10px solid #c54109;
}

.about .main {
  height: 110vh;
  text-shadow: 5px 5px 5px black;
}

.about .main h1 {
  font-size: 5rem;
}

@media screen and (max-width: 800px) {
  .about .main {
    flex-direction: column;
  }

  .about .main h2 {
    margin-top: 25vh;
  }

  .about .main h1 {
    font-size: 3rem;
  }
}

/* ================================================= About-Us ============================================= */

.about_us_page {
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #d4531b;
}

.about_img {
  position: relative;
}

.about_img_1 {
  width: 200px;
  height: 200PX;
  margin-left: -20%;
  margin-top: -5%;
  position: absolute;
  /* border: 5px solid #4d4d4d; */
  box-shadow: 5px 5px 10px;
}

.about_img_2 {
  width: 200px;
  height: 200px;
  top: 0;
  margin-top: -25%;
  position: absolute;
  /* border: 5px solid #4d4d4d; */
  box-shadow: 5px 5px 10px;
}

.about_img_3 {
  width: 200px;
  height: 200px;
  margin-top: -10%;
  margin-right: -30%;
  position: absolute;
  /* border: 5px solid #4d4d4d; */
  box-shadow: 5px 5px 10px;
}

.about_text p {
  text-align: end;
}

@media screen and (max-width: 800px) {
  .about_img_1 {
    width: 100px;
    height: 100PX;
    margin-left: -20%;
    margin-top: -5%;
    position: absolute;
  }

  .about_img_2 {
    width: 100px;
    height: 100px;
    top: 0;
    margin-top: -25%;
    position: absolute;
  }

  .about_img_3 {
    width: 100px;
    height: 100px;
    margin-top: -10%;
    margin-right: -30%;
    position: absolute;
  }

  .about_text {
    margin-top: 15%;
    text-align: center;
  }

  .about_text p {
    text-align: center;
    font-size: 80%;
  }

}


/* ===================================================== services-about-page ===================================== */

.services_about_page {
  width: 100%;
  height: 100%;
  background-color: #9B9A9A;
  border-bottom: 10px solid #d4531b;
}

.services_about_content_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.services_about_content img {
  width: 60%;
  text-shadow: 5px 5px 5px black;
}

.services_about_content {
  width: 32%;
}

@media screen and (max-width: 600px) {
  .services_about_content_main {
    flex-direction: column;
  }

  .services_about_content {
    width: 100%;
  }
}

/* ===================================================== common-questions ===================================== */

.common_questions {
  width: 100%;
  height: 100%;
  /* background-color: #D9D9D9; */
  border-bottom: 10px solid #d4531b;
}


.accordion-item .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  border-radius: 25px;
  background-color: #B1B1B1;
  font-weight: bold;
  color: #c54109;
  direction: rtl;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: right;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  color: #c54109;

}

.accordion-button::after {
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  margin-left: 1%;
  color: #c54109;
}

/* ===================================================== Blog ===================================== */
.blog {
  width: 100%;
  height: 100%;
}

.blog_title h1 {
  margin-top: 10%;
  border-bottom: 5px solid #802903;
  text-align: end;
}

.new_article {
  border-bottom: 5px solid #802903;
}

.new_article_card {
  border: 5px solid #f37e30;
}

.blog_category li {
  border: 3px solid #202020;
}

.blog_articles_content_1 {
  height: 3rem;
  overflow: hidden;
}

.blog_articlse .card-img-overlay {
  background-color: hsl(180, 4%, 5%, 0.4);
}

.new_article .card-text {
  height: 6rem;
  overflow: hidden;
}

.main_article_content {
  height: 4.3rem;
  overflow: hidden;
}

/* ==================================================== Single-article =============================================== */

.single_article_img img {
  width: 100%;
  height: 500px;
  border: 5px solid #F4D010;
}

.article_tab {
  border-bottom: 5px solid #242B31;
}

.comments_form_inputs {
  display: flex;
  align-items: end;
  flex-direction: column;
  border-bottom: 5px solid #802903;
}

.comments_list {
  border-bottom: 5px solid #802903;
}

.comments_form_inputs input::placeholder,
.comments_form_inputs textarea::placeholder {
  text-align: end;
  color: #f5f5f5;
  font-weight: bold;
}

@media screen and (max-width:500px) {
  .single_article_img img {
    height: 200px;
  }
}

/* ==================================================== Contact-Us =============================================== */
.contact_landing_page {
  background-image: linear-gradient(113deg, rgba(1, 1, 1, 1) 5%, rgba(0, 0, 0, 0.9) 10%, rgba(255, 255, 255, 0.05) 100%),
    url(../public/assets/images/slide-gym.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  position: relative;
  top: 0;
  border-bottom: 10px solid #c54109;
}

.main_contact {
  height: 70vh;
  text-shadow: 5px 5px 5px black;
}

.main_contact h2 {
  font-size: 4rem;
}

.main_icon_content {
  margin-top: 5vh;

}

.form_shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form_shadow_2 {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #ebebeb;
}

.contact_form {
  border-bottom: 10px solid #c54109;
}

.contact_ways {
  background-color: #B1B1B1;
  border-bottom: 10px solid #c54109;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .main_contact {
    flex-direction: column;
  }

  .main_icon_products {
    position: absolute;
    margin-top: 48vh;
  }

  .main_contact h4 {
    margin-top: 20vh;
    font-size: 80%;
  }

  .main_contact h2 {
    font-size: 2rem;
  }
}

/* ================================================== Login =========================================== */

.login_page {
  padding-top: 10%;
}

.login_page .form-control {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #e7e5e5;
}

.form-check {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row-reverse;
}

.login_page .row {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.border_error {
  border: 2px solid rgb(216, 28, 28);
}