.navbar_1 {
  width: 100%;
  height: 6vh;
  background-color: #242B31;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.main_navbar {
  position: fixed;
  padding-top: 2rem;
  z-index: 100;
  width: 100%;
}

.brand_logo {
  color: #c54109;
}

.navbar_2 {
  background-color: #0D0E0E;
  border-radius: 0 0 20px 20px;
}

@media screen and (max-width: 400px) {
  .navbar_1 a {
    font-size: 80%;
    margin-top: 3px;
  }
}

.main_color {
  color: #c54109;
}

.a_tag {
  text-decoration: none;
}



/* =================================Custom Scrollbars============================ */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D05520;
  border-radius: 15px;
}

/* ======================================= Home ================================================= */

.home {
  background-image: linear-gradient(113deg, rgba(1, 1, 1, 1) 15%, rgba(0, 0, 0, 0.9) 50%, rgba(255, 255, 255, 0.05) 100%), url(../public/assets/images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  border-bottom: 10px solid #c54109;
}

.main {
  height: 110vh;
}

.main h1 {
  font-size: 5rem;
}

.main_icon {
  margin-top: 35vh;
}

.bs_icon_main {
  text-shadow: 10px 10px black;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .main_icon {
    position: absolute;
    margin-top: 75vh;
  }

  .main h2 {
    margin-top: 25vh;
  }

  .main h1 {
    font-size: 3rem;
  }
}

/* ======================================= Home-Category ================================================= */

.home_category {
  height: 200px;
  width: 100%;
  background-color: #F8F8F8;
  border-bottom: 10px solid #d4531b;
}

.category_icone {
  width: 15%;
}

.category_icone img {
  background-color: #C4C4C4;
  border: 5px solid #9B9A9A;
}

@media screen and (max-width: 600px) {
  .category_icone {
    width: 50%;
  }

  .home_category_child {
    margin-top: 120%;
  }

  .home_category {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .category_icone {
    width: 20%;
  }

  .home_category_child {
    margin-top: 20%;
  }

  .home_category {
    overflow-y: scroll;
  }
}

/* ======================================= carousel ================================================= */

.multi_carousel {
  background-color: #E4E4E4;
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #d4531b;
}

.carousel_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel_items img {
  border: 5px solid #625858;
  box-shadow: 5px 5px 10px black;
  background-color: #b1b1b1;
}

/* ======================================= first-carousel ================================================= */

.about_us {
  width: 100%;
  height: 100%;
  background-color: #A0A0A0;
  border-bottom: 10px solid #d4531b;
}

.about_us img {
  border: 5px solid #FFFFFF;
  box-shadow: 5px 5px 10px;
}

/* ======================================= articles ================================================= */

.article {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  border-bottom: 10px solid #d4531b;
}

.article_border {
  border: none;
}

.article_border img {
  border: 5px solid #EE7505;
  box-shadow: 5px 5px 10px black;
}

.card-img-overlay {
  text-shadow: 5px 5px 5px black;
}

@media screen and (max-width: 400px) {
  .card-img-overlay {
    font-size: 60%;
  }
}

/* ======================================= services_home ================================================= */

.services_home {
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #d4531b;
}

/* ======================================= footer ================================================= */

.footer {
  width: 100%;
  height: 100%;
  background-color: #9B9A9A;
  border-bottom: 10px solid #F8F8F8;
  border-top: 10px solid #F8F8F8;
  border-radius: 50px 50px 0 0;
}

.footer a {
  z-index: 100;
}

.footer_shadow {
  text-shadow: 2px 2px 2px black;
}

/* =======================================================animation=========================================== */

